In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('test').getOrCreate()

In [16]:
df = spark.read.csv('test2.csv', inferSchema=True, header=True)

In [17]:
df.show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
|Radha|         6|             C++|  8000|
|Radha|         4|    Data Science|  7000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
+-----+----------+----------------+------+

In [18]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Course: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [19]:
df.withColumn('Salary', col('Salary').cast(ByteType())).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science|    16|
|Radha|         6|             C++|    64|
|Radha|         4|    Data Science|    88|
| Ajay|         6|        Big Data|    40|
|Gagan|         5|Machine Learning|   -32|
| Ajay|         4|          Python|   -96|
|Gagan|         3|        Big Data|    88|
+-----+----------+----------------+------+

In [20]:
df.withColumn('Salary', col('Salary').cast(ShortType())).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
|Radha|         6|             C++|  8000|
|Radha|         4|    Data Science|  7000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
+-----+----------+----------------+------+

In [27]:
col('Salary')

Column<b'Salary'>

In [22]:
column('Salary')

Column<b'Salary'>

In [28]:
expr("(((same_col+5)*200)-6) < other_col")

Column<b'((((same_col + 5) * 200) - 6) < other_col)'>

In [29]:
df.first()

Row(Name='Gagan', Experience=6, Course='Data Science', Salary=10000)

In [31]:
df.select('Salary').show(2)

+------+
|Salary|
+------+
| 10000|
|  8000|
+------+
only showing top 2 rows

In [32]:
df.createOrReplaceTempView('employee')

In [33]:
spark.sql('select Salary from  employee').show(2)

+------+
|Salary|
+------+
| 10000|
|  8000|
+------+
only showing top 2 rows

In [40]:
df.select('Salary', 'Course').show(2)
spark.sql('select Salary, Course from employee').show(2)

+------+------------+
|Salary|      Course|
+------+------------+
| 10000|Data Science|
|  8000|         C++|
+------+------------+
only showing top 2 rows

+------+------------+
|Salary|      Course|
+------+------------+
| 10000|Data Science|
|  8000|         C++|
+------+------------+
only showing top 2 rows

In [41]:
df.select(expr('Salary'), col('Course'), column('Name')).show(2)

+------+------------+-----+
|Salary|      Course| Name|
+------+------------+-----+
| 10000|Data Science|Gagan|
|  8000|         C++|Radha|
+------+------------+-----+
only showing top 2 rows

In [42]:
df.select(expr('Salary as amount')).show(2)

+------+
|amount|
+------+
| 10000|
|  8000|
+------+
only showing top 2 rows

In [43]:
df.selectExpr('Salary as amount').show(2)

+------+
|amount|
+------+
| 10000|
|  8000|
+------+
only showing top 2 rows

In [44]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Course: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [45]:
df.selectExpr('*', '(Name == Course) as Test').show(2)

+-----+----------+------------+------+-----+
| Name|Experience|      Course|Salary| Test|
+-----+----------+------------+------+-----+
|Gagan|         6|Data Science| 10000|false|
|Radha|         6|         C++|  8000|false|
+-----+----------+------------+------+-----+
only showing top 2 rows

In [46]:
df.selectExpr('sum(Salary)', 'count(distinct(Name))').show(2)

+-----------+--------------------+
|sum(Salary)|count(DISTINCT Name)|
+-----------+--------------------+
|      57000|                   3|
+-----------+--------------------+

In [47]:
# literal are the constant values we need to add to the dataframe

df.select(expr('*'), lit(1).alias('one')).show(2)

+-----+----------+------------+------+---+
| Name|Experience|      Course|Salary|one|
+-----+----------+------------+------+---+
|Gagan|         6|Data Science| 10000|  1|
|Radha|         6|         C++|  8000|  1|
+-----+----------+------------+------+---+
only showing top 2 rows

In [49]:
df.withColumn('one', lit(1)).show(2)

+-----+----------+------------+------+---+
| Name|Experience|      Course|Salary|one|
+-----+----------+------------+------+---+
|Gagan|         6|Data Science| 10000|  1|
|Radha|         6|         C++|  8000|  1|
+-----+----------+------------+------+---+
only showing top 2 rows

In [50]:
df.withColumn('Name=Course',expr('Name == Course')).show(2)

+-----+----------+------------+------+-----------+
| Name|Experience|      Course|Salary|Name=Course|
+-----+----------+------------+------+-----------+
|Gagan|         6|Data Science| 10000|      false|
|Radha|         6|         C++|  8000|      false|
+-----+----------+------------+------+-----------+
only showing top 2 rows

In [53]:
df.withColumn('First Name', expr('Name')).show(2)

+-----+----------+------------+------+----------+
| Name|Experience|      Course|Salary|First Name|
+-----+----------+------------+------+----------+
|Gagan|         6|Data Science| 10000|     Gagan|
|Radha|         6|         C++|  8000|     Radha|
+-----+----------+------------+------+----------+
only showing top 2 rows

In [54]:
df.withColumnRenamed('Name', 'First Name').show(2)

+----------+----------+------------+------+
|First Name|Experience|      Course|Salary|
+----------+----------+------------+------+
|     Gagan|         6|Data Science| 10000|
|     Radha|         6|         C++|  8000|
+----------+----------+------------+------+
only showing top 2 rows

In [55]:
df2 = df.withColumn('First Name', expr('Name'))

In [63]:
df2.selectExpr('`First Name` as NewName').show(2)

+-------+
|NewName|
+-------+
|  Gagan|
|  Radha|
+-------+
only showing top 2 rows

In [64]:
df.drop('Name').columns

['Experience', 'Course', 'Salary']

In [65]:
df.drop('Name', 'Course').columns

['Experience', 'Salary']

In [66]:
df.withColumn('New Salary', col('Salary').cast('long')).show(2)

+-----+----------+------------+------+----------+
| Name|Experience|      Course|Salary|New Salary|
+-----+----------+------------+------+----------+
|Gagan|         6|Data Science| 10000|     10000|
|Radha|         6|         C++|  8000|      8000|
+-----+----------+------------+------+----------+
only showing top 2 rows

In [68]:
df.filter(col('Salary') > 8000).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [69]:
df.where(col('Salary') > 8000).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [72]:
df.filter(~ (col('Salary') > 8000)).show()

+-----+----------+------------+------+
| Name|Experience|      Course|Salary|
+-----+----------+------------+------+
|Radha|         6|         C++|  8000|
|Radha|         4|Data Science|  7000|
| Ajay|         4|      Python|  4000|
|Gagan|         3|    Big Data|  7000|
+-----+----------+------------+------+

In [74]:
df.filter(col('Salary') > 8000).where(col('Experience') > 5).show()

+-----+----------+------------+------+
| Name|Experience|      Course|Salary|
+-----+----------+------------+------+
|Gagan|         6|Data Science| 10000|
| Ajay|         6|    Big Data|  9000|
+-----+----------+------------+------+

In [78]:
df.select('Salary', 'Name').distinct().show()

+------+-----+
|Salary| Name|
+------+-----+
|  9000| Ajay|
|  7000|Gagan|
|  8000|Radha|
| 12000|Gagan|
|  4000| Ajay|
|  7000|Radha|
| 10000|Gagan|
+------+-----+

In [103]:
withReplacement = False
fraction = 0.5
seed = 5
df.sample(withReplacement, fraction, seed).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [110]:
df.randomSplit([0.75, 0.25], seed=9)[1].count()

1

In [111]:
df11, df12 = df.randomSplit([0.75, 0.25], seed=9)
df11.show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
| Ajay|         4|          Python|  4000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         3|        Big Data|  7000|
|Gagan|         5|Machine Learning| 12000|
|Gagan|         6|    Data Science| 10000|
|Radha|         4|    Data Science|  7000|
+-----+----------+----------------+------+

In [112]:
df12.show()

+-----+----------+------+------+
| Name|Experience|Course|Salary|
+-----+----------+------+------+
|Radha|         6|   C++|  8000|
+-----+----------+------+------+

In [115]:
df11.union(df12).where('Experience > 4').show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
|Gagan|         6|    Data Science| 10000|
|Radha|         6|             C++|  8000|
+-----+----------+----------------+------+

In [117]:
df.orderBy('Salary', 'Course').show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
|Radha|         4|    Data Science|  7000|
|Radha|         6|             C++|  8000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         6|    Data Science| 10000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [118]:
df.sort('Salary', 'Course').show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
|Radha|         4|    Data Science|  7000|
|Radha|         6|             C++|  8000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         6|    Data Science| 10000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [119]:
df.orderBy(col('Salary'), col('Course')).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
|Radha|         4|    Data Science|  7000|
|Radha|         6|             C++|  8000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         6|    Data Science| 10000|
|Gagan|         5|Machine Learning| 12000|
+-----+----------+----------------+------+

In [121]:
df.orderBy(col('Salary').desc(), col('Course').asc()).show()
# asc_null_first, asc_null_last, desc_null_first, desc_null_last
# sortWithinPartitions

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         5|Machine Learning| 12000|
|Gagan|         6|    Data Science| 10000|
| Ajay|         6|        Big Data|  9000|
|Radha|         6|             C++|  8000|
|Gagan|         3|        Big Data|  7000|
|Radha|         4|    Data Science|  7000|
| Ajay|         4|          Python|  4000|
+-----+----------+----------------+------+

In [123]:
df.limit(4).show()

+-----+----------+------------+------+
| Name|Experience|      Course|Salary|
+-----+----------+------------+------+
|Gagan|         6|Data Science| 10000|
|Radha|         6|         C++|  8000|
|Radha|         4|Data Science|  7000|
| Ajay|         6|    Big Data|  9000|
+-----+----------+------------+------+

In [125]:
# repartitions - costlier operation as it shuffles the complete dataset
df.repartition(5).show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         3|        Big Data|  7000|
| Ajay|         6|        Big Data|  9000|
| Ajay|         4|          Python|  4000|
|Gagan|         5|Machine Learning| 12000|
|Radha|         6|             C++|  8000|
|Gagan|         6|    Data Science| 10000|
|Radha|         4|    Data Science|  7000|
+-----+----------+----------------+------+

In [126]:
# coalesce - Full shuffle and combine all partitions
df.repartition(5, col('Salary')).coalesce(2)

DataFrame[Name: string, Experience: int, Course: string, Salary: int]

In [ ]:
# collecting data to the driver
df.limit(2)
df.first(2)
df.show(2)
df.take(3)

# these 2 are costiler operations and it may crash the driver in case of big data
df.collect(6)
df.toLocalIterator()

In [127]:
df.select(lit(5), lit('five'), lit(5.0)).show()

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+

In [128]:
df.where(col('Salary') != 7000).select('Salary', 'Name').show()

+------+-----+
|Salary| Name|
+------+-----+
| 10000|Gagan|
|  8000|Radha|
|  9000| Ajay|
| 12000|Gagan|
|  4000| Ajay|
+------+-----+

In [129]:
df.where('Salary = 7000').show()

+-----+----------+------------+------+
| Name|Experience|      Course|Salary|
+-----+----------+------------+------+
|Radha|         4|Data Science|  7000|
|Gagan|         3|    Big Data|  7000|
+-----+----------+------------+------+

In [130]:
df.where('Salary <> 7000').show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
|Radha|         6|             C++|  8000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
| Ajay|         4|          Python|  4000|
+-----+----------+----------------+------+

In [132]:
name_filter = col('Name') == 'Gagan'
exp_filter = col('Experience') > 4
df.where(df.Course.isin('Data Science')).where(name_filter | exp_filter).show()

+-----+----------+------------+------+
| Name|Experience|      Course|Salary|
+-----+----------+------------+------+
|Gagan|         6|Data Science| 10000|
+-----+----------+------------+------+

In [135]:
name_filter = col('Name') == 'Gagan'
exp_filter = col('Experience') > 4
course_filter = col('Course')=='Data Science'
df.withColumn('isTrue', course_filter & (name_filter | exp_filter)).where('isTrue').show()

+-----+----------+------------+------+------+
| Name|Experience|      Course|Salary|isTrue|
+-----+----------+------------+------+------+
|Gagan|         6|Data Science| 10000|  true|
+-----+----------+------------+------+------+

In [136]:
df.where(col('Course').eqNullSafe('No Course')).show()

+----+----------+------+------+
|Name|Experience|Course|Salary|
+----+----------+------+------+
+----+----------+------+------+

In [137]:
new_salary = pow(col('Experience')*2, 2) + col('Salary')
df.select('Name', new_salary.alias('Actual Salary')).show()

+-----+-------------+
| Name|Actual Salary|
+-----+-------------+
|Gagan|      10144.0|
|Radha|       8144.0|
|Radha|       7064.0|
| Ajay|       9144.0|
|Gagan|      12100.0|
| Ajay|       4064.0|
|Gagan|       7036.0|
+-----+-------------+

In [138]:
df.select(round(lit('2.5')), bround(lit('2.5'))).show()

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
+-------------+--------------+

In [141]:
df.stat.corr('Salary', 'Experience')

AttributeError: 'float' object has no attribute 'show'

In [140]:
df.select(corr('Salary', 'Experience')).show()

+------------------------+
|corr(Salary, Experience)|
+------------------------+
|      0.5467364794749064|
+------------------------+

In [142]:
df.describe().show()

+-------+-----+-----------------+--------+------------------+
|summary| Name|       Experience|  Course|            Salary|
+-------+-----+-----------------+--------+------------------+
|  count|    7|                7|       7|                 7|
|   mean| null|4.857142857142857|    null| 8142.857142857143|
| stddev| null|1.214985792587912|    null|2544.8360411214067|
|    min| Ajay|                3|Big Data|              4000|
|    max|Radha|                6|  Python|             12000|
+-------+-----+-----------------+--------+------------------+

In [143]:
quantileProbs = [0.5]
col_name = 'Salary'
relErr = 0.5

df.stat.approxQuantile('Salary', quantileProbs, relErr)

[4000.0]

In [144]:
df.crosstab('Name','Salary').show()

+-----------+-----+-----+----+----+----+----+
|Name_Salary|10000|12000|4000|7000|8000|9000|
+-----------+-----+-----+----+----+----+----+
|       Ajay|    0|    0|   1|   0|   0|   1|
|      Gagan|    1|    1|   0|   1|   0|   0|
|      Radha|    0|    0|   0|   1|   1|   0|
+-----------+-----+-----+----+----+----+----+

In [145]:
df.stat.freqItems(['Name','Salary']).show()

+--------------------+--------------------+
|      Name_freqItems|    Salary_freqItems|
+--------------------+--------------------+
|[Gagan, Ajay, Radha]|[10000, 7000, 120...|
+--------------------+--------------------+

In [146]:
df.select(monotonically_increasing_id()).show()

+-----------------------------+
|monotonically_increasing_id()|
+-----------------------------+
|                            0|
|                            1|
|                            2|
|                            3|
|                            4|
|                            5|
|                            6|
+-----------------------------+

In [147]:
df.select(initcap(col('Course'))).show()

+----------------+
| initcap(Course)|
+----------------+
|    Data Science|
|             C++|
|    Data Science|
|        Big Data|
|Machine Learning|
|          Python|
|        Big Data|
+----------------+

In [148]:
df.select(col('Course'), lower(col('Course')), upper(col('Course'))).show()

+----------------+----------------+----------------+
|          Course|   lower(Course)|   upper(Course)|
+----------------+----------------+----------------+
|    Data Science|    data science|    DATA SCIENCE|
|             C++|             c++|             C++|
|    Data Science|    data science|    DATA SCIENCE|
|        Big Data|        big data|        BIG DATA|
|Machine Learning|machine learning|MACHINE LEARNING|
|          Python|          python|          PYTHON|
|        Big Data|        big data|        BIG DATA|
+----------------+----------------+----------------+

In [160]:
df.select(ltrim(lit('   Hello   ')).alias('ltrim'), lpad(lit('Hello'), 7, " ").alias('lpad'), trim(lit('   Hello   ')).alias('trim'), rpad(lit('Hello'), 10, " ").alias('rpad'), rtrim(lit('   Hello   ')).alias('rtrim')).show()

+--------+-------+-----+----------+--------+
|   ltrim|   lpad| trim|      rpad|   rtrim|
+--------+-------+-----+----------+--------+
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
|Hello   |  Hello|Hello|Hello     |   Hello|
+--------+-------+-----+----------+--------+

In [161]:
# regexp
regex_string = 'Science|Learning'
df.select(regexp_replace(col('Course'), regex_string, 'HAHAHA'), col('Course')).show()

+------------------------------------------------+----------------+
|regexp_replace(Course, Science|Learning, HAHAHA)|          Course|
+------------------------------------------------+----------------+
|                                     Data HAHAHA|    Data Science|
|                                             C++|             C++|
|                                     Data HAHAHA|    Data Science|
|                                        Big Data|        Big Data|
|                                  Machine HAHAHA|Machine Learning|
|                                          Python|          Python|
|                                        Big Data|        Big Data|
+------------------------------------------------+----------------+

In [164]:
df.select(translate(upper(col('Course')),'CHE', '321'), col('Course')).show()

+----------------------------------+----------------+
|translate(upper(Course), CHE, 321)|          Course|
+----------------------------------+----------------+
|                      DATA S3I1N31|    Data Science|
|                               3++|             C++|
|                      DATA S3I1N31|    Data Science|
|                          BIG DATA|        Big Data|
|                  MA32IN1 L1ARNING|Machine Learning|
|                            PYT2ON|          Python|
|                          BIG DATA|        Big Data|
+----------------------------------+----------------+

In [168]:
regex_string = '(Science|Learning)'
df.select(regexp_extract(col('Course'), regex_string, 1).alias('Extract'), col('Course')).show(2)

+-------+------------+
|Extract|      Course|
+-------+------------+
|Science|Data Science|
|       |         C++|
+-------+------------+
only showing top 2 rows

In [172]:
contain_science = instr(col('Course'), 'Science') >= 1
contain_learning = instr(col('Course'), 'Learning') >= 1
df.withColumn('hasDSML', contain_learning | contain_science).where('hasDSML').select('Course').show(3, False)

+----------------+
|Course          |
+----------------+
|Data Science    |
|Data Science    |
|Machine Learning|
+----------------+

In [173]:
DSML = ['Python','Science', 'Data', 'Learning', 'Machine']
def course_locator(column, dsml_str):
    return locate(dsml_str, column).cast('boolean').alias('is_'+dsml_str)

selected_cols = [course_locator(df.Course, c) for c in DSML]
selected_cols.append(expr("*"))

df.select(*selected_cols).where(expr('is_Learning OR is_Data')).select('Course').show()

+----------------+
|          Course|
+----------------+
|    Data Science|
|    Data Science|
|        Big Data|
|Machine Learning|
|        Big Data|
+----------------+

In [174]:
df_time = spark.range(10).withColumn('today', current_date()).withColumn('timestamp', current_timestamp())
df_time.show()

+---+----------+--------------------+
| id|     today|           timestamp|
+---+----------+--------------------+
|  0|2023-12-14|2023-12-14 21:29:...|
|  1|2023-12-14|2023-12-14 21:29:...|
|  2|2023-12-14|2023-12-14 21:29:...|
|  3|2023-12-14|2023-12-14 21:29:...|
|  4|2023-12-14|2023-12-14 21:29:...|
|  5|2023-12-14|2023-12-14 21:29:...|
|  6|2023-12-14|2023-12-14 21:29:...|
|  7|2023-12-14|2023-12-14 21:29:...|
|  8|2023-12-14|2023-12-14 21:29:...|
|  9|2023-12-14|2023-12-14 21:29:...|
+---+----------+--------------------+

In [175]:
df_time.createOrReplaceTempView('dateTable')

In [176]:
df_time.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- timestamp: timestamp (nullable = false)

In [177]:
df_time.select(date_sub(col('today'), 5), date_add(col('today'), 5)).show()

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
|        2023-12-09|        2023-12-19|
+------------------+------------------+

In [179]:
df_time.withColumn('week_ago', date_sub(col('today'), 7)).select(datediff(col('week_ago'), col('today'))).show()

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
|                       -7|
+-------------------------+

In [180]:
df_time.select(to_date(lit('2016-01-01')).alias('start_date'), to_date(lit('2017-05-22')).alias('end_date')).select(months_between(col('start_date'), col('end_date'))).show()

+------------------------------------+
|months_between(start_date, end_date)|
+------------------------------------+
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
|                        -16.67741935|
+------------------------------------+

In [183]:
df_time.select(to_date(lit('2016-22-01')), to_date(lit('2023-05-04'))).show()

+---------------------+---------------------+
|to_date('2016-22-01')|to_date('2023-05-04')|
+---------------------+---------------------+
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
|                 null|           2023-05-04|
+---------------------+---------------------+

In [184]:
date_format = 'yyyy-dd-MM'
df_time.select(to_date(lit('2016-22-01'),date_format), to_date(lit('2023-05-04'),date_format)).show()

+-----------------------------------+-----------------------------------+
|to_date('2016-22-01', 'yyyy-dd-MM')|to_date('2023-05-04', 'yyyy-dd-MM')|
+-----------------------------------+-----------------------------------+
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
|                         2016-01-22|                         2023-04-05|
+-----------------------------------+-----------------------------------+

In [187]:
df_time.select(to_timestamp(lit('2016-22-01'), date_format).alias('DATE')).show(2)

+-------------------+
|               DATE|
+-------------------+
|2016-01-22 00:00:00|
|2016-01-22 00:00:00|
+-------------------+
only showing top 2 rows

In [188]:
df_time.select(to_timestamp(lit('2016-22-01'), date_format).alias('DATE')).filter(col('DATE') >= '2016-01-22').show(2)

+-------------------+
|               DATE|
+-------------------+
|2016-01-22 00:00:00|
|2016-01-22 00:00:00|
+-------------------+
only showing top 2 rows

working with nulls

In [5]:
df = spark.read.csv('test.csv', inferSchema=True, header=True)

In [6]:
df.show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|Gagan|  25|         5|
| Ajay|  28|         7|
|Sunny|  30|        10|
| null|  15|         1|
|Radha|null|        10|
|Rishi|null|      null|
+-----+----+----------+

In [8]:
# getting the first non-null value from each record
df.select(coalesce(col('Age'), col('Experience'), col('Name'))).show()

+-------------------------------+
|coalesce(Age, Experience, Name)|
+-------------------------------+
|                             25|
|                             28|
|                             30|
|                             15|
|                             10|
|                          Rishi|
+-------------------------------+

In [10]:
df.na.drop().show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Gagan| 25|         5|
| Ajay| 28|         7|
|Sunny| 30|        10|
+-----+---+----------+

In [11]:
df.na.drop('any').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Gagan| 25|         5|
| Ajay| 28|         7|
|Sunny| 30|        10|
+-----+---+----------+

In [13]:
df.na.drop('all').show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|Gagan|  25|         5|
| Ajay|  28|         7|
|Sunny|  30|        10|
| null|  15|         1|
|Radha|null|        10|
|Rishi|null|      null|
+-----+----+----------+

In [14]:
df.na.drop('all', subset=['Age', 'Experience']).show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|Gagan|  25|         5|
| Ajay|  28|         7|
|Sunny|  30|        10|
| null|  15|         1|
|Radha|null|        10|
+-----+----+----------+

In [15]:
df.na.drop('any', subset=['Age', 'Experience']).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Gagan| 25|         5|
| Ajay| 28|         7|
|Sunny| 30|        10|
| null| 15|         1|
+-----+---+----------+

In [16]:
df.na.fill('These are Null Values').show()

+--------------------+----+----------+
|                Name| Age|Experience|
+--------------------+----+----------+
|               Gagan|  25|         5|
|                Ajay|  28|         7|
|               Sunny|  30|        10|
|These are Null Va...|  15|         1|
|               Radha|null|        10|
|               Rishi|null|      null|
+--------------------+----+----------+

In [17]:
df.na.fill(0).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Gagan| 25|         5|
| Ajay| 28|         7|
|Sunny| 30|        10|
| null| 15|         1|
|Radha|  0|        10|
|Rishi|  0|         0|
+-----+---+----------+

In [18]:
fill_values = {'Age':25, 'Experience':1, 'Name':'Gagan'}
df.na.fill(fill_values).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Gagan| 25|         5|
| Ajay| 28|         7|
|Sunny| 30|        10|
|Gagan| 15|         1|
|Radha| 25|        10|
|Rishi| 25|         1|
+-----+---+----------+

In [24]:
df.na.replace([''], ['UNKNOWN'], 'Name').show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|Gagan|  25|         5|
| Ajay|  28|         7|
|Sunny|  30|        10|
| null|  15|         1|
|Radha|null|        10|
|Rishi|null|      null|
+-----+----+----------+

complex datatype - Struct (complex_df is having only one column named complex. When we call all the columns inside the complex then it will give all other columns)

In [27]:
complex_df = df.select(struct('Name', 'Age').alias('complex'))

In [33]:
complex_df.show()

+-----------+
|    complex|
+-----------+
|[Gagan, 25]|
| [Ajay, 28]|
|[Sunny, 30]|
|     [, 15]|
|   [Radha,]|
|   [Rishi,]|
+-----------+

In [30]:
complex_df.select('complex.*').show()

+-----+----+
| Name| Age|
+-----+----+
|Gagan|  25|
| Ajay|  28|
|Sunny|  30|
| null|  15|
|Radha|null|
|Rishi|null|
+-----+----+

complex type array

In [35]:
df.select(split(col('Name'), '')).show()

+-----------------+
|    split(Name, )|
+-----------------+
|[G, a, g, a, n, ]|
|   [A, j, a, y, ]|
|[S, u, n, n, y, ]|
|             null|
|[R, a, d, h, a, ]|
|[R, i, s, h, i, ]|
+-----------------+

In [37]:
df.select(split(col('Name'), '').alias('arrayCol')).selectExpr('arrayCol[0]').show()

+-----------+
|arrayCol[0]|
+-----------+
|          G|
|          A|
|          S|
|       null|
|          R|
|          R|
+-----------+

In [38]:
df.select(size(split(col('Name'), ''))).show()

+-------------------+
|size(split(Name, ))|
+-------------------+
|                  6|
|                  5|
|                  6|
|                 -1|
|                  6|
|                  6|
+-------------------+

In [39]:
df.select(array_contains(split(col('Name'), ''), 'G')).show()

+--------------------------------+
|array_contains(split(Name, ), G)|
+--------------------------------+
|                            true|
|                           false|
|                           false|
|                            null|
|                           false|
|                           false|
+--------------------------------+

In [40]:
df.withColumn('splitter', split(col('Name'), '')).withColumn('splitter_first', explode(col('splitter'))).select('splitter_first', 'Age', 'Name', 'Experience').show()

+--------------+----+-----+----------+
|splitter_first| Age| Name|Experience|
+--------------+----+-----+----------+
|             G|  25|Gagan|         5|
|             a|  25|Gagan|         5|
|             g|  25|Gagan|         5|
|             a|  25|Gagan|         5|
|             n|  25|Gagan|         5|
|              |  25|Gagan|         5|
|             A|  28| Ajay|         7|
|             j|  28| Ajay|         7|
|             a|  28| Ajay|         7|
|             y|  28| Ajay|         7|
|              |  28| Ajay|         7|
|             S|  30|Sunny|        10|
|             u|  30|Sunny|        10|
|             n|  30|Sunny|        10|
|             n|  30|Sunny|        10|
|             y|  30|Sunny|        10|
|              |  30|Sunny|        10|
|             R|null|Radha|        10|
|             a|null|Radha|        10|
|             d|null|Radha|        10|
+--------------+----+-----+----------+
only showing top 20 rows

In [53]:
df.na.drop('any').withColumn('NewName', col('Name')).select(create_map(col('NewName'), col('Name')).alias('Test')).show()

+----------------+
|            Test|
+----------------+
|[Gagan -> Gagan]|
|  [Ajay -> Ajay]|
|[Sunny -> Sunny]|
+----------------+

In [54]:
df.na.drop('any').select(create_map(col('Age'), col('Name')).alias('Test')).show()

+-------------+
|         Test|
+-------------+
|[25 -> Gagan]|
| [28 -> Ajay]|
|[30 -> Sunny]|
+-------------+

In [56]:
df.na.drop('any').select(create_map(col('Age'), col('Name')).alias('Test')).selectExpr('Test[25]').show()

+--------+
|Test[25]|
+--------+
|   Gagan|
|    null|
|    null|
+--------+

In [63]:
df.na.drop('any').select(create_map(col('Age'), col('Name')).alias('Test')).selectExpr('explode(Test)').show()

+---+-----+
|key|value|
+---+-----+
| 25|Gagan|
| 28| Ajay|
| 30|Sunny|
+---+-----+

 need to look for why only map is not working where as create_map is working fine

JSON DF

In [81]:
json_df = spark.range(1).selectExpr("""
'{"myJSONKey":{"myJSONValue":[1,2,3]}}' as jsonString""")

In [82]:
json_df.select(get_json_object(col('jsonString'), '$.myJSONKey.myJSONValue[1]').alias('column'), json_tuple(col('jsonString'), 'myJSONKey')).show()

+------+--------------------+
|column|                  c0|
+------+--------------------+
|     2|{"myJSONValue":[1...|
+------+--------------------+

In [83]:
df.selectExpr("(Name, Age) as myStruct").select(to_json(col('myStruct'))).show()

+-----------------------+
|structstojson(myStruct)|
+-----------------------+
|   {"Name":"Gagan","...|
|   {"Name":"Ajay","A...|
|   {"Name":"Sunny","...|
|             {"Age":15}|
|       {"Name":"Radha"}|
|       {"Name":"Rishi"}|
+-----------------------+

In [85]:
parseSchema = StructType((StructField('Name', StringType(), True), StructField('Age', IntegerType(), True)))
df.selectExpr('(Name, Age) as myStruct').select(to_json(col('myStruct')).alias('newJSON')).select(from_json(col('newJSON'), parseSchema), col('newJSON')).show()

+----------------------+--------------------+
|jsontostructs(newJSON)|             newJSON|
+----------------------+--------------------+
|           [Gagan, 25]|{"Name":"Gagan","...|
|            [Ajay, 28]|{"Name":"Ajay","A...|
|           [Sunny, 30]|{"Name":"Sunny","...|
|                [, 15]|          {"Age":15}|
|              [Radha,]|    {"Name":"Radha"}|
|              [Rishi,]|    {"Name":"Rishi"}|
+----------------------+--------------------+

### UDF (user defined function)

In [89]:
udfExampleDF = spark.range(5).toDF('num')
def power3(num):
    return num ** 3
power3(2)

8

In [91]:
power3udf= udf(power3)
udfExampleDF.select(power3udf(col('num'))).show()

Aggregation

In [93]:
df = spark.read.format('csv').option('header', 'true').option('inferschema', 'true').load('./book_data/retail-data/all/*.csv').coalesce(5)

In [94]:
df.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [95]:
df.createOrReplaceGlobalTempView('dfTable')

In [96]:
df.select(count('StockCode')).show()

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In [97]:
df.select(count('*')).show()

+--------+
|count(1)|
+--------+
|  541909|
+--------+

In [99]:
df.select(countDistinct('StockCode')).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [104]:
df.select(approx_count_distinct('StockCode', 0.3)).show()

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            2448|
+--------------------------------+

In [105]:
df.select(first('StockCode'), last('StockCode')).show()

+-----------------------+----------------------+
|first(StockCode, false)|last(StockCode, false)|
+-----------------------+----------------------+
|                 85123A|                 22138|
+-----------------------+----------------------+

In [107]:
df.select(min('Quantity'), max('Quantity')).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [108]:
df.select(sum('Quantity')).show()

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

In [109]:
df.select(sumDistinct('Quantity')).show()

+----------------------+
|sum(DISTINCT Quantity)|
+----------------------+
|                 29310|
+----------------------+

In [110]:
df.select(avg('Quantity')).show()

+----------------+
|   avg(Quantity)|
+----------------+
|9.55224954743324|
+----------------+

In [111]:
df.select(mean('Quantity')).show()

+----------------+
|   avg(Quantity)|
+----------------+
|9.55224954743324|
+----------------+

In [112]:
df.select(count('Quantity').alias('total_transactions'),
          sum('Quantity').alias('total_purchase'),
          avg('Quantity').alias('avg_purchase'),
          expr('mean(Quantity)').alias('mean_purchase')).selectExpr(
              'total_purchase/total_transactions',
              'avg_purchase',
              'mean_purchase'
          ).show()

+-------------------------------------+----------------+----------------+
|(total_purchase / total_transactions)|    avg_purchase|   mean_purchase|
+-------------------------------------+----------------+----------------+
|                     9.55224954743324|9.55224954743324|9.55224954743324|
+-------------------------------------+----------------+----------------+

In [113]:
df.select(var_pop('Quantity'), var_samp('Quantity'), stddev_pop('Quantity'), stddev_samp('Quantity')).show()

+-----------------+------------------+--------------------+---------------------+
|var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+-----------------+------------------+--------------------+---------------------+
|47559.30364660917| 47559.39140929886|   218.0809566344782|   218.08115785023443|
+-----------------+------------------+--------------------+---------------------+

In [114]:
df.select(skewness('Quantity'), kurtosis('Quantity')).show()

+--------------------+------------------+
|  skewness(Quantity)|kurtosis(Quantity)|
+--------------------+------------------+
|-0.26407557610528065|119768.05495536947|
+--------------------+------------------+

In [115]:
df.select(corr('InvoiceNo', 'Quantity'), covar_samp('InvoiceNo', 'Quantity'), covar_pop('InvoiceNo', 'Quantity')).show()

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     4.912186085637207E-4|              1052.728054390769|            1052.7260778746647|
+-------------------------+-------------------------------+------------------------------+

In [116]:
df.agg(collect_set('Country'), collect_list('Country')).show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [United Kingdom, ...|
+--------------------+---------------------+

In [118]:
df.groupBy('InvoiceNo', 'CustomerId').count().show()

+---------+----------+-----+
|InvoiceNo|CustomerId|count|
+---------+----------+-----+
|   536846|     14573|   76|
|   537026|     12395|   12|
|   537883|     14437|    5|
|   538068|     17978|   12|
|   538279|     14952|    7|
|   538800|     16458|   10|
|   538942|     17346|   12|
|  C539947|     13854|    1|
|   540096|     13253|   16|
|   540530|     14755|   27|
|   541225|     14099|   19|
|   541978|     13551|    4|
|   542093|     17677|   16|
|   536596|      null|    6|
|   537252|      null|    1|
|   538041|      null|    1|
|   543188|     12567|   63|
|   543590|     17377|   19|
|  C543757|     13115|    1|
|  C544318|     12989|    1|
+---------+----------+-----+
only showing top 20 rows

In [119]:
df.groupBy('InvoiceNo').agg(count('Quantity').alias('quant'), expr('count(Quantity)')).show()

+---------+-----+---------------+
|InvoiceNo|quant|count(Quantity)|
+---------+-----+---------------+
|   536596|    6|              6|
|   536938|   14|             14|
|   537252|    1|              1|
|   537691|   20|             20|
|   538041|    1|              1|
|   538184|   26|             26|
|   538517|   53|             53|
|   538879|   19|             19|
|   539275|    6|              6|
|   539630|   12|             12|
|   540499|   24|             24|
|   540540|   22|             22|
|  C540850|    1|              1|
|   540976|   48|             48|
|   541432|    4|              4|
|   541518|  101|            101|
|   541783|   35|             35|
|   542026|    9|              9|
|   542375|    6|              6|
|  C542604|    8|              8|
+---------+-----+---------------+
only showing top 20 rows

In [120]:
df.groupBy('InvoiceNo').agg(expr('avg(Quantity)'), expr('stddev_pop(Quantity)')).show()

+---------+------------------+--------------------+
|InvoiceNo|     avg(Quantity)|stddev_pop(Quantity)|
+---------+------------------+--------------------+
|   536596|               1.5|  1.1180339887498947|
|   536938|33.142857142857146|  20.698023172885524|
|   537252|              31.0|                 0.0|
|   537691|              8.15|   5.597097462078001|
|   538041|              30.0|                 0.0|
|   538184|12.076923076923077|   8.142590198943392|
|   538517|3.0377358490566038|  2.3946659604837897|
|   538879|21.157894736842106|  11.811070444356483|
|   539275|              26.0|  12.806248474865697|
|   539630|20.333333333333332|  10.225241100118645|
|   540499|              3.75|  2.6653642652865788|
|   540540|2.1363636363636362|  1.0572457590557278|
|  C540850|              -1.0|                 0.0|
|   540976|10.520833333333334|   6.496760677872902|
|   541432|             12.25|  10.825317547305483|
|   541518| 23.10891089108911|  20.550782784878713|
|   541783|11.314285714285715|   8.467657556242811|
|   542026| 7.666666666666667|   4.853406592853679|
|   542375|               8.0|  3.4641016151377544|
|  C542604|              -8.0|  15.173990905493518|
+---------+------------------+--------------------+
only showing top 20 rows

In [121]:
dfWithDate = df.withColumn('date', to_date(col('InvoiceDate'), 'MM/dd/yyyy H:mm'))
dfWithDate.createOrReplaceTempView('dfWithDate')

In [125]:
from pyspark.sql.window import Window
windowSpec = Window.partitionBy('CustomerId', 'date').orderBy(desc('Quantity')).rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [127]:
maxPurchaseQuantity = max(col('Quantity')).over(windowSpec)

In [128]:
maxPurchaseQuantity

Column<b'max(Quantity) OVER (PARTITION BY CustomerId, date ORDER BY Quantity DESC NULLS LAST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)'>

In [129]:
purchaseRank = rank().over(windowSpec)
purchaseDenseRank = dense_rank().over(windowSpec)

In [137]:
dfWithDate.where('CustomerId IS NOT NULL').orderBy('CustomerId').select(col('CustomerId'), col('date'), col('Quantity'), purchaseRank.alias('PurchaseRank'), purchaseDenseRank.alias('PurchaseDenseRank'), maxPurchaseQuantity.alias('MaxPurchaseQuantity')).show()

+----------+----------+--------+------------+-----------------+-------------------+
|CustomerId|      date|Quantity|PurchaseRank|PurchaseDenseRank|MaxPurchaseQuantity|
+----------+----------+--------+------------+-----------------+-------------------+
|     12346|2011-01-18|   74215|           1|                1|              74215|
|     12346|2011-01-18|  -74215|           2|                2|              74215|
|     12347|2010-12-07|      36|           1|                1|                 36|
|     12347|2010-12-07|      30|           2|                2|                 36|
|     12347|2010-12-07|      24|           3|                3|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|       6|          17|                5|                 36|
|     12347|2010-12-07|       6|          17|                5|                 36|
+----------+----------+--------+------------+-----------------+-------------------+
only showing top 20 rows

In [138]:
dfNoNull = dfWithDate.drop()
dfNoNull.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|      date|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|2010-12-01|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|2010-12-01|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|2010-12-01|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|2010-12-01|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|2010-12-01|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|2010-12-01|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|2010-12-01|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|2010-12-01|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|2010-12-01|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|2010-12-01|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|2010-12-01|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
only showing top 20 rows

In [140]:
rolledUpDF = dfNoNull.rollup('Date', 'Country').agg(sum('Quantity')).selectExpr('Date', 'Country', '`sum(Quantity)` as total_quantity').orderBy('Date')
rolledUpDF.show()

+----------+--------------+--------------+
|      Date|       Country|total_quantity|
+----------+--------------+--------------+
|      null|          null|       5176450|
|2010-12-01|United Kingdom|         23949|
|2010-12-01|        Norway|          1852|
|2010-12-01|          null|         26814|
|2010-12-01|       Germany|           117|
|2010-12-01|     Australia|           107|
|2010-12-01|   Netherlands|            97|
|2010-12-01|        France|           449|
|2010-12-01|          EIRE|           243|
|2010-12-02|       Germany|           146|
|2010-12-02|          null|         21023|
|2010-12-02|          EIRE|             4|
|2010-12-02|United Kingdom|         20873|
|2010-12-03|         Italy|           164|
|2010-12-03|       Belgium|           528|
|2010-12-03|       Germany|           170|
|2010-12-03|         Spain|           400|
|2010-12-03|   Switzerland|           110|
|2010-12-03|        France|           239|
|2010-12-03|      Portugal|            65|
+----------+--------------+--------------+
only showing top 20 rows

In [141]:
dfNoNull.cube('Date', 'Country').agg(sum(col('Quantity'))).select('Date', 'Country', 'sum(Quantity)').orderBy('Date').show()

+----+--------------------+-------------+
|Date|             Country|sum(Quantity)|
+----+--------------------+-------------+
|null|               Japan|        25218|
|null|            Portugal|        16180|
|null|                null|      5176450|
|null|              Cyprus|         6317|
|null|           Australia|        83653|
|null|             Finland|        10666|
|null|                 RSA|          352|
|null|United Arab Emirates|          982|
|null|             Lebanon|          386|
|null|             Germany|       117448|
|null|             Denmark|         8188|
|null|              Norway|        19247|
|null|           Singapore|         5234|
|null|         Unspecified|         3300|
|null|           Hong Kong|         4769|
|null|  European Community|          497|
|null|     Channel Islands|         9479|
|null|               Spain|        26824|
|null|                 USA|         1034|
|null|      Czech Republic|          592|
+----+--------------------+-------------+
only showing top 20 rows

In [142]:
pivoted = dfWithDate.groupBy('date').pivot('Country').sum()

In [144]:
pivoted.show()

+----------+---------------------------------------+------------------------+-----------------------------------------+-------------------------------------+----------------------+---------------------------------------+-------------------------------------+----------------------+---------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+------------------------------------+---------------------+--------------------------------------+---------------------------------------------+------------------------------+-----------------------------------------------+------------------------------------+---------------------+--------------------------------------+--------------------------------------------+-----------------------------+----------------------------------------------+-------------------------------------+----------------------+---------------------------------------+----------------------------------+-------------------+------------------------------------+------------------------------------------------+---------------------------------+--------------------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+-----------------------------------+--------------------+-------------------------------------+-----------------------------------+--------------------+-------------------------------------+-------------------------------------+----------------------+---------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-----------------------------------+--------------------+-------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+------------------------------------+---------------------+--------------------------------------+------------------------------------+---------------------+--------------------------------------+--------------------------------------+-----------------------+----------------------------------------+---------------------------------+------------------+-----------------------------------+------------------------------------------+---------------------------+--------------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-----------------------------------+--------------------+-------------------------------------+------------------------------------+---------------------+--------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+---------------------------------+------------------+-----------------------------------+--------------------------------------------------+-----------------------------------+----------------------------------------------------+--------------------------------------------+-----------------------------+----------------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+
|      date|Australia_sum(CAST(Quantity AS BIGINT))|Australia_sum(UnitPrice)|Australia_sum(CAST(CustomerID AS BIGINT))|Austria_sum(CAST(Quantity AS BIGINT))|Austria_sum(UnitPrice)|Austria_sum(CAST(CustomerID AS BIGINT))|Bahrain_sum(CAST(Quantity AS BIGINT))|Bahrain_sum(UnitPrice)|Bahrain_sum(CAST(CustomerID AS BIGINT))|Belgium_sum(CAST(Quantity AS BIGINT))|Belgium_sum(UnitPrice)|Belgium_sum(CAST(CustomerID AS BIGINT))|Brazil_sum(CAST(Quantity AS BIGINT))|Brazil_sum(UnitPrice)|Brazil_sum(CAST(CustomerID AS BIGINT))|Canada_sum(CAST(Quantity AS BIGINT))|Canada_sum(UnitPrice)|Canada_sum(CAST(CustomerID AS BIGINT))|Channel Islands_sum(CAST(Quantity AS BIGINT))|Channel Islands_sum(UnitPrice)|Channel Islands_sum(CAST(CustomerID AS BIGINT))|Cyprus_sum(CAST(Quantity AS BIGINT))|Cyprus_sum(UnitPrice)|Cyprus_sum(CAST(CustomerID AS BIGINT))|Czech Republic_sum(CAST(Quantity AS BIGINT))|Czech Republic_sum(UnitPrice)|Czech Republic_sum(CAST(CustomerID AS BIGINT))|Denmark_sum(CAST(Quantity AS BIGINT))|Denmark_sum(UnitPrice)|Denmark_sum(CAST(CustomerID AS BIGINT))|EIRE_sum(CAST(Quantity AS BIGINT))|EIRE_sum(UnitPrice)|EIRE_sum(CAST(CustomerID AS BIGINT))|European Community_sum(CAST(Quantity AS BIGINT))|European Community_sum(UnitPrice)|European Community_sum(CAST(CustomerID AS BIGINT))|Finland_sum(CAST(Quantity AS BIGINT))|Finland_sum(UnitPrice)|Finland_sum(CAST(CustomerID AS BIGINT))|France_sum(CAST(Quantity AS BIGINT))|France_sum(UnitPrice)|France_sum(CAST(CustomerID AS BIGINT))|Germany_sum(CAST(Quantity AS BIGINT))|Germany_sum(UnitPrice)|Germany_sum(CAST(CustomerID AS BIGINT))|Greece_sum(CAST(Quantity AS BIGINT))|Greece_sum(UnitPrice)|Greece_sum(CAST(CustomerID AS BIGINT))|Hong Kong_sum(CAST(Quantity AS BIGINT))|Hong Kong_sum(UnitPrice)|Hong Kong_sum(CAST(CustomerID AS BIGINT))|Iceland_sum(CAST(Quantity AS BIGINT))|Iceland_sum(UnitPrice)|Iceland_sum(CAST(CustomerID AS BIGINT))|Israel_sum(CAST(Quantity AS BIGINT))|Israel_sum(UnitPrice)|Israel_sum(CAST(CustomerID AS BIGINT))|Italy_sum(CAST(Quantity AS BIGINT))|Italy_sum(UnitPrice)|Italy_sum(CAST(CustomerID AS BIGINT))|Japan_sum(CAST(Quantity AS BIGINT))|Japan_sum(UnitPrice)|Japan_sum(CAST(CustomerID AS BIGINT))|Lebanon_sum(CAST(Quantity AS BIGINT))|Lebanon_sum(UnitPrice)|Lebanon_sum(CAST(CustomerID AS BIGINT))|Lithuania_sum(CAST(Quantity AS BIGINT))|Lithuania_sum(UnitPrice)|Lithuania_sum(CAST(CustomerID AS BIGINT))|Malta_sum(CAST(Quantity AS BIGINT))|Malta_sum(UnitPrice)|Malta_sum(CAST(CustomerID AS BIGINT))|Netherlands_sum(CAST(Quantity AS BIGINT))|Netherlands_sum(UnitPrice)|Netherlands_sum(CAST(CustomerID AS BIGINT))|Norway_sum(CAST(Quantity AS BIGINT))|Norway_sum(UnitPrice)|Norway_sum(CAST(CustomerID AS BIGINT))|Poland_sum(CAST(Quantity AS BIGINT))|Poland_sum(UnitPrice)|Poland_sum(CAST(CustomerID AS BIGINT))|Portugal_sum(CAST(Quantity AS BIGINT))|Portugal_sum(UnitPrice)|Portugal_sum(CAST(CustomerID AS BIGINT))|RSA_sum(CAST(Quantity AS BIGINT))|RSA_sum(UnitPrice)|RSA_sum(CAST(CustomerID AS BIGINT))|Saudi Arabia_sum(CAST(Quantity AS BIGINT))|Saudi Arabia_sum(UnitPrice)|Saudi Arabia_sum(CAST(CustomerID AS BIGINT))|Singapore_sum(CAST(Quantity AS BIGINT))|Singapore_sum(UnitPrice)|Singapore_sum(CAST(CustomerID AS BIGINT))|Spain_sum(CAST(Quantity AS BIGINT))|Spain_sum(UnitPrice)|Spain_sum(CAST(CustomerID AS BIGINT))|Sweden_sum(CAST(Quantity AS BIGINT))|Sweden_sum(UnitPrice)|Sweden_sum(CAST(CustomerID AS BIGINT))|Switzerland_sum(CAST(Quantity AS BIGINT))|Switzerland_sum(UnitPrice)|Switzerland_sum(CAST(CustomerID AS BIGINT))|USA_sum(CAST(Quantity AS BIGINT))|USA_sum(UnitPrice)|USA_sum(CAST(CustomerID AS BIGINT))|United Arab Emirates_sum(CAST(Quantity AS BIGINT))|United Arab Emirates_sum(UnitPrice)|United Arab Emirates_sum(CAST(CustomerID AS BIGINT))|United Kingdom_sum(CAST(Quantity AS BIGINT))|United Kingdom_sum(UnitPrice)|United Kingdom_sum(CAST(CustomerID AS BIGINT))|Unspecified_sum(CAST(Quantity AS BIGINT))|Unspecified_sum(UnitPrice)|Unspecified_sum(CAST(CustomerID AS BIGINT))|
+----------+---------------------------------------+------------------------+-----------------------------------------+-------------------------------------+----------------------+---------------------------------------+-------------------------------------+----------------------+---------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+------------------------------------+---------------------+--------------------------------------+---------------------------------------------+------------------------------+-----------------------------------------------+------------------------------------+---------------------+--------------------------------------+--------------------------------------------+-----------------------------+----------------------------------------------+-------------------------------------+----------------------+---------------------------------------+----------------------------------+-------------------+------------------------------------+------------------------------------------------+---------------------------------+--------------------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-------------------------------------+----------------------+---------------------------------------+------------------------------------+---------------------+--------------------------------------+-----------------------------------+--------------------+-------------------------------------+-----------------------------------+--------------------+-------------------------------------+-------------------------------------+----------------------+---------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-----------------------------------+--------------------+-------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+------------------------------------+---------------------+--------------------------------------+------------------------------------+---------------------+--------------------------------------+--------------------------------------+-----------------------+----------------------------------------+---------------------------------+------------------+-----------------------------------+------------------------------------------+---------------------------+--------------------------------------------+---------------------------------------+------------------------+-----------------------------------------+-----------------------------------+--------------------+-------------------------------------+------------------------------------+---------------------+--------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+---------------------------------+------------------+-----------------------------------+--------------------------------------------------+-----------------------------------+----------------------------------------------------+--------------------------------------------+-----------------------------+----------------------------------------------+-----------------------------------------+--------------------------+-------------------------------------------+
|2011-10-07|                                   null|                    null|                                     null|                                 null|                  null|                                   null|                                 null|                  null|                                   null|                                 null|                  null|                                   null|                                null|                 null|                                  null|                                null|                 null|                                  null|                                         null|                          null|                                           null|                                 345|   136.51000000000002|                                360180|                                         325|                        49.38|                                        127810|                                  637|                 27.69|                                  74364|                               448| 225.09999999999997|                              760461|                                            null|                             null|                                              null|                                 null|                  null|                                   null|                                 527|    88.43999999999998|                                483504|                                 2053|    327.79999999999995|                                1150698|                                null|                 null|                                  null|                                   null|                    null|                                     null|                                 null|                  null|                                   null|                                null|                 null|                                  null|                               null|                null|                                 null|                               null|                null|                                 null|                                 null|                  null|                                   null|                                   null|                    null|                                     null|                               null|                null|                                 null|                                      212|                     25.35|                                     140558|                                null|                 null|                                  null|                                null|                 null|                                  null|                                  null|                   null|                                    null|                             null|              null|                               null|                                      null|                       null|                                        null|                                   null|                    null|                                     null|                                227|  123.08000000000001|                               275880|                                null|                 null|                                  null|                                     null|                      null|                                       null|                             null|              null|                               null|                                              null|                               null|                                                null|                                       25657|           12425.409999999976|                                      27566889|                                     null|                      null|                                       null|
|2011-05-06|                                   null|                    null|                                     null|                                   42|                 58.95|                                  74484|                                 null|                  null|                                   null|                                  182|                 63.32|                                 260274|                                null|                 null|                                  null|                                null|                 null|                                  null|                                         null|                          null|                                           null|                                null|                 null|                                  null|                                        null|                         null|                                          null|                                 null|                  null|                                   null|                              1694|              75.37|                              283120|                                            null|                             null|                                              null|                                 null|                  null|                                   null|                                null|                 null|                                  null|                                  222|    12.639999999999999|                                 126857|                                null|                 null|                                  null|                                   null|                    null|                                     null|                                 null|                  null|                                   null|                                null|                 null|                                  null|                               null|                null|                                 null|                               null|                null|                                 null|                                 null|                  null|                                   null|                                   null|                    null|                                     null|                               null|                null|                                 null|                                     null|                      null|                                       null|                                null|                 null|                                  null|                                null|                 null|                                  null|                                  null|                   null|                                    null|                             null|              null|                               null|                                      null|                       null|                                        null|                                   null|                    null|                                     null|                                 88|               113.1|                               187530|                                null|                 null|                                  null|                                     null|                      null|                                       null|                             null|              null|                               null|                                              null|                               null|                                                null|                                       17404|            6952.629999999985|                                      18722445|                                     null|                      null|                                       null|

### Joins

In [2]:
person = spark.createDataFrame([(0, 'Bill Chambers', 0 , [100]),
                                (1, 'Matei Zaharia', 1, [500, 250, 100]),
                                (2, 'Michael Armbrust', 1, [250, 100])]).toDF('id', 'name', 'graduate_program', 'spark_status')

graduateProgram = spark.createDataFrame([(0, 'Masters', 'School of Information' , 'UC Berkley'),
                                         (2, 'Masters', 'EECS' , 'UC Berkley'),
                                         (1, 'Ph.D.', 'EECS' , 'UC Berkley')
                                         ]).toDF('id', 'degree', 'department', 'school')

sparkStatus = spark.createDataFrame([(500, 'Vice President'),
                                         (250, 'PMC Member'),
                                         (100, 'Contributor')
                                         ]).toDF('id', 'status')

In [3]:
join_expression = person['graduate_program'] == graduateProgram['id']

In [4]:
wrong_join_expression = person['graduate_program'] == graduateProgram['degree']

In [5]:
person.join(graduateProgram, join_expression).show()  # default is inner type

+---+----------------+----------------+---------------+---+-------+--------------------+----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+

In [6]:
person.join(graduateProgram, join_expression, 'inner').show() # common in between left & right

+---+----------------+----------------+---------------+---+-------+--------------------+----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+

In [7]:
person.join(graduateProgram, join_expression, 'outer').show()  # all left + right, if no left or right matches then add null values

+----+----------------+----------------+---------------+---+-------+--------------------+----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+----+----------------+----------------+---------------+---+-------+--------------------+----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|null|            null|            null|           null|  2|Masters|                EECS|UC Berkley|
+----+----------------+----------------+---------------+---+-------+--------------------+----------+

In [8]:
person.join(graduateProgram, join_expression, 'left_outer').show()  # all left, if no right matches then add null values

+---+----------------+----------------+---------------+---+-------+--------------------+----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+

In [9]:
person.join(graduateProgram, join_expression, 'right_outer').show()  # all right, if no left matches then add null values

+----+----------------+----------------+---------------+---+-------+--------------------+----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+----+----------------+----------------+---------------+---+-------+--------------------+----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|null|            null|            null|           null|  2|Masters|                EECS|UC Berkley|
+----+----------------+----------------+---------------+---+-------+--------------------+----------+

In [10]:
person.join(graduateProgram, join_expression, 'left_semi').show()  # look like a filter, if keys matches on right then add rows of left dataframe only

+---+----------------+----------------+---------------+
| id|            name|graduate_program|   spark_status|
+---+----------------+----------------+---------------+
|  0|   Bill Chambers|               0|          [100]|
|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  2|Michael Armbrust|               1|     [250, 100]|
+---+----------------+----------------+---------------+

In [11]:
person.join(graduateProgram, join_expression, 'left_anti').show()  # all left, if no right matches found then add only left rows.

+---+----+----------------+------------+
| id|name|graduate_program|spark_status|
+---+----+----------------+------------+
+---+----+----------------+------------+

In [12]:
# natural joins (left, right, outer) keep the data which matches on both the side.

In [13]:
person.join(graduateProgram, join_expression, 'cross').show()  # every single row of left joined with every single row of right
person.crossJoin(graduateProgram).show()

+---+----------------+----------------+---------------+---+-------+--------------------+----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+

+---+----------------+----------------+---------------+---+-------+--------------------+----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|    school|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkley|
|  0|   Bill Chambers|               0|          [100]|  2|Masters|                EECS|UC Berkley|
|  0|   Bill Chambers|               0|          [100]|  1|  Ph.D.|                EECS|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  0|Masters|School of Informa...|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  2|Masters|                EECS|UC Berkley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  0|Masters|School of Informa...|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  2|Masters|                EECS|UC Berkley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkley|
+---+----------------+----------------+---------------+---+-------+--------------------+----------+