In [2]:
from pyspark.sql import SparkSession

In [3]:
spark  = SparkSession.builder.appName('AdvancedSpark').getOrCreate()

In [4]:
pyspark_df = spark.read.csv('test2.csv', header=True, inferSchema=True)

In [5]:
pyspark_df.show()

+-----+----------+----------------+------+
| Name|Experience|          Course|Salary|
+-----+----------+----------------+------+
|Gagan|         6|    Data Science| 10000|
|Radha|         6|             C++|  8000|
|Radha|         4|    Data Science|  7000|
| Ajay|         6|        Big Data|  9000|
|Gagan|         5|Machine Learning| 12000|
| Ajay|         4|          Python|  4000|
|Gagan|         3|        Big Data|  7000|
+-----+----------+----------------+------+

In [6]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Course: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
# groupby
pyspark_df.groupBy('Name').sum().show()

+-----+---------------+-----------+
| Name|sum(Experience)|sum(Salary)|
+-----+---------------+-----------+
|Gagan|             14|      29000|
| Ajay|             10|      13000|
|Radha|             10|      15000|
+-----+---------------+-----------+

In [8]:
pyspark_df.drop('Experience').groupBy('Name').sum().show()

+-----+-----------+
| Name|sum(Salary)|
+-----+-----------+
|Gagan|      29000|
| Ajay|      13000|
|Radha|      15000|
+-----+-----------+

In [9]:
# group by course
pyspark_df.groupBy('Course').sum().show()

+----------------+---------------+-----------+
|          Course|sum(Experience)|sum(Salary)|
+----------------+---------------+-----------+
|Machine Learning|              5|      12000|
|             C++|              6|       8000|
|        Big Data|              9|      16000|
|          Python|              4|       4000|
|    Data Science|             10|      17000|
+----------------+---------------+-----------+

In [10]:
# group by course
pyspark_df.groupBy('Course').mean().show()

+----------------+---------------+-----------+
|          Course|avg(Experience)|avg(Salary)|
+----------------+---------------+-----------+
|Machine Learning|            5.0|    12000.0|
|             C++|            6.0|     8000.0|
|        Big Data|            4.5|     8000.0|
|          Python|            4.0|     4000.0|
|    Data Science|            5.0|     8500.0|
+----------------+---------------+-----------+

In [11]:
pyspark_df.groupBy('Course').count().show()

+----------------+-----+
|          Course|count|
+----------------+-----+
|Machine Learning|    1|
|             C++|    1|
|        Big Data|    2|
|          Python|    1|
|    Data Science|    2|
+----------------+-----+

In [12]:
pyspark_df.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      57000|
+-----------+

In [13]:
pyspark_df.groupBy('Name').max().show()

+-----+---------------+-----------+
| Name|max(Experience)|max(Salary)|
+-----+---------------+-----------+
|Gagan|              6|      12000|
| Ajay|              6|       9000|
|Radha|              6|       8000|
+-----+---------------+-----------+

In [14]:
pyspark_df.groupBy('Name').min().show()

+-----+---------------+-----------+
| Name|min(Experience)|min(Salary)|
+-----+---------------+-----------+
|Gagan|              3|       7000|
| Ajay|              4|       4000|
|Radha|              4|       7000|
+-----+---------------+-----------+

In [15]:
pyspark_df.groupBy('Name').avg().show()

+-----+-----------------+-----------------+
| Name|  avg(Experience)|      avg(Salary)|
+-----+-----------------+-----------------+
|Gagan|4.666666666666667|9666.666666666666|
| Ajay|              5.0|           6500.0|
|Radha|              5.0|           7500.0|
+-----+-----------------+-----------------+